/* Webshare icons CSS. */
#webshare-wrapper {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 12px 0;
	margin: 16px 0;
}
#webshare-wrapper ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
#webshare-wrapper ul li {
	display: inline-block;
	margin: 0 8px 0 0;
}
#webshare-wrapper ul li a {
	display: inline-block;
}
#webshare-wrapper ul li  a::before {
	display: inline-block;
	content: '\f409';
	padding: 0 5px 0 0;
	-webkit-font-smoothing: antialiased;
	font: normal 24px/0.9 'Genericons';
	width: 24px;
	height: 24px;
	vertical-align: middle;
}
#webshare-wrapper ul li  a.webshare-facebook::before {
	content: '\f204';
}
#webshare-wrapper ul li  a.webshare-twitter::before {
	content: '\f202';
}
#webshare-wrapper ul li  a.webshare-google::before {
	content: '\f206';
}

/* Screen reader text. */
.webshare-link {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute;
}
#webshare-wrapper .webshare-link {
	top: -9999em;
	left: -9999em;
}

.webshare-link:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	line-height: normal;
	padding: 15px 23px 14px;
	position: absolute;
	left: 5px;
	top: 5px;
	text-decoration: none;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}